.Wrap {
  overflow-x: hidden;
}

/* header */
#header {
  line-height: 100px;
  border-bottom: 1px solid #ddd;
}
#header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 60px;
}
#header .logo_box {
  font-size: 0;
}
#header .gnb ul {
  display: flex;
}
#header .gnb ul li a {
  display: block;
  padding: 0 40px;

  font-size: 20px;
  font-weight: 500;
  transition: 0.2s;
}
#header .gnb ul li a:hover {
  color: #ee5430;
}
#header .Sign_out button {
  border: none;
  background: #1e6fb7;
  border: 1px solid #1e6fb7;
  color: #fff;
  padding: 12px 20px;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
#header .Sign_out button:hover {
  border: 1px solid #777;
  background: #fff;
  color: #000;
}
/* 다단메뉴 */
#header .inner .gnb .menu_hover {
  position: relative;
}

#header .inner .gnb ul li .submenu {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;

  height: auto;
  border-radius: 1rem;
  background: #1e6fb7;
  color: #fff;
}
#header .inner .gnb ul > li:hover .submenu {
  display: block;
}
/* 다단메뉴 */
/* header */
/* main */
main {
  height: calc(100vh - 101px);
  background-color: rgba(0, 102, 178, 0.3);
}

main .inner {
  display: flex;
  gap: 30px;

  width: 1800px;
  margin: 0 auto;
}
/* left_box */
main .inner .left_box {
  width: 75%;
}
main .inner .left_box .top_menu img {
  width: 800px;
  height: auto;
  border-radius: 1rem 1rem 0 0;
}
main .inner .left_box .in_left_box {
  position: relative;
  height: auto;
}
.mid_box {
  position: relative;
}
main .inner .left_box .in_left_box #prev {
  position: absolute;
  top: 45%;
  left: 0;
  z-index: 999;
  border: none;
  background: inherit;
  cursor: pointer;
}
main .inner .left_box .in_left_box #next {
  position: absolute;
  top: 45%;
  right: 0;
  z-index: 999;
  border: none;
  background: inherit;
  cursor: pointer;
}
main .inner .left_box .in_left_box .mid_menu {
  width: 750px;
  margin-left: 30px;
  overflow: hidden;
  position: relative;
}

main .inner .left_box .in_left_box .mid_menu .menu_slick .sl_box {
  background: #ddd;
  border-radius: 1rem;
  height: 230px;
}
main .inner .left_box .in_left_box .mid_menu .menu_slick div .slick_inner_box {
  background: #fff;
  height: 180px;
  border-radius: 1rem;
}

main .inner .left_box .in_left_box .mid_menu .menu_slick img {
  width: 100%;
  height: 100%;
}
main .inner .left_box .in_left_box .mid_menu .menu_slick {
  position: relative;
}
main .inner .left_box .in_left_box .mid_menu .menu_slick .sl_box {
  padding: 15px 20px;
  margin: 10px 25px 0;
}
main .inner .left_box .in_left_box .mid_menu .menu_slick .slick-list {
  padding: -20px -10px;
}

/* 기본 슬릭설정 */
/* main .inner .left_box .in_left_box .mid_menu .menu_slick .slick-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 30px;
  height: 30px;
}
main .inner .left_box .in_left_box .mid_menu .menu_slick .slick-prev {
  margin: 0 0 0 -380px;
  z-index: 800;

  font-size: 0;

  background: url(../img/arrw-pre-b.png) no-repeat center;
  border: none;
}
main .inner .left_box .in_left_box .mid_menu .menu_slick .slick-next {
  margin: 0 0 0 337px;
  z-index: 800;
  font-size: 0;

  background: url(../img/arrw-nxt-b.png) no-repeat center;
  border: none;
} */
.footer_box {
  position: relative;
}
main .inner .left_box .in_left_box #prev_v2 {
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 999;
  border: none;
  background: inherit;
  cursor: pointer;
}
main .inner .left_box .in_left_box #next_v2 {
  position: absolute;
  bottom: 40%;
  right: 0;
  z-index: 999;
  border: none;
  background: inherit;
  cursor: pointer;
}
main .inner .left_box .in_left_box .footer_menu {
  width: 750px;
  margin-left: 30px;
  overflow: hidden;
  position: relative;
}
main .inner .left_box .in_left_box .footer_menu .intro_slick .intro_box {
  background: #ddd;
  border-radius: 1rem;
  height: 130px;
}
main .inner .left_box .in_left_box .footer_menu .intro_slick .intro_inner_box {
  background: #fff;
  height: 100px;
  border-radius: 1rem;
}
main .inner .left_box .in_left_box .footer_menu .intro_slick img {
  width: 100%;
  height: 100%;
}
main .inner .left_box .in_left_box .footer_menu .intro_slick {
  position: relative;
}
main .inner .left_box .in_left_box .footer_menu .intro_slick .intro_box {
  padding: 15px 20px;
  margin: 25px 25px;
}
main .inner .left_box .in_left_box .footer_menu .intro_slick .slick-list {
  padding: -20px -10px;
}
/* left_box */
/* right_box */
main .inner .right_box {
  width: 100%;
}
.tit_box {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tit_box .menu_box {
  display: flex;
  gap: 15px;
}
.tit_box .menu_box button {
  border: 1px solid #777;
  outline: none;
  padding: 6px 12px;
  border-radius: 15px;

  background: #777;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}
.tit_box .menu_box button:hover {
  border: 1px solid #ddd;
  background: #fff;
  color: #000;
}
.tit_box h2 {
  margin: 30px 0;
}
main .inner .in_left_box {
  background: #fff;

  width: 100%;
  height: calc(100vh - 220px);
  border-radius: 1rem;
  padding: 20px;
}

main .inner .in_right_box {
  background: #fff;
  width: 100%;
  height: calc(100vh - 220px);
  border-radius: 1rem;
  padding: 20px;

  height: auto;
}
/* right_box */
/* main */

/* table */
#DataTable {
  width: 100%;

  border: 1px solid #ddd;
  height: 734px;

  border-radius: 1rem;
  border-collapse: separate;
  border-spacing: 0;
}
#DataTable thead {
  line-height: 60px;
}
#DataTable thead tr th {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#DataTable thead tr th:last-child {
  border-right: none;
}
/* table */

/* 파일 업로드 팝업 */
#popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 400px;
  height: 500px;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
  z-index: 999;
  border: 1px solid #ddd;

  box-shadow: 0px 0px 21px 3px rgba(65, 65, 65, 0.54);
}
#popup .pop_tit_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

#popup .pop_tit_box h3 {
  font-size: 25px;
  font-weight: 700;
}
#popup .pop_tit_box button {
  border-radius: 1rem;
  border: 1px solid #ee5430;
  background: #e02d1b;
  padding: 8px 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
#popup .pop_tit_box button:hover {
  border: 1px solid #ddd;
  background: #fff;
  color: #000;
}
#popup .pop_tit_box .pop_save {
  margin-left: 80px;
  background: #1e6fb7;
  border: 1px solid #1e6fb7;
}

#popup .pop_content {
  width: 100%;
  height: 390px;

  border: 2px dashed #ddd;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}
#popup .pop_content .con_inner {
  margin-top: 50px;
}
#popup .pop_content .con_inner img {
  width: 50px;
  opacity: 0.5;
  margin-bottom: 20px;
}

#popup .pop_content .con_inner p {
  margin-bottom: 10px;
}
#popup .pop_content .con_inner p:nth-child(4) {
  margin: 30px 0;
}
#popup .pop_content .con_inner .my_pc {
  border-radius: 1rem;
  outline: none;
  background: #1e6fb7;
  color: #fff;
  padding: 12px 15px;
  border: 1px solid #1e6fb7;
  cursor: pointer;
  transition: 0.3s;
}
#popup .pop_content .con_inner .my_pc:hover {
  border: 1px solid #ddd;
  background: #fff;
  color: #000;
}
/* 파일 업로드 팝업 */
